Checks: "
    -*,
    bugprone-*,
    readability-*,
    cert-*,
    performance-*,
    cppcoreguidelines-explicit-virtual-functions,
    -cert-msc50-cpp,
    -cert-msc30-c,
"
WarningsAsErrors: true
HeaderFilterRegex: '.*'
UseColor: true
